/* Styling of the map editor div block */
.mapeditor {
  background-color: #fff;
  
  /* Hide the map at first. */
  display: none;
  
  // width: 800px;
  // min-height: 600px;
  z-index: 1000;
  
  /* CSS3 styling for latest browsers */
  -moz-box-shadow:0 0 90px 5px #000;
  -webkit-box-shadow: 0 0 90px #000;
}


/* Styling of the close button of the mindmeister browser */
.mapeditor .close {
  background-image: url(images/close.png);
  	position: absolute;
  	right: -15px;
  	top: -15px;
  	cursor: pointer;
  	height: 35px;
  	width: 35px;
}